<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="IntegrationSuite" parallel="methods" thread-count="3">
    <test name="Integration">
        <classes>
            <class name="tests.GetUsers"/>
            <class name="tests.CreateUser"/>
            <class name="tests.UpdateUser"/>
        </classes>
    </test>
</suite>